<a href="https://colab.research.google.com/github/ShivamGupta-5703/Data-Mining-Lab/blob/main/Lab5_Adult_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
data = pd.read_csv('/content/drive/MyDrive/Data Mining/Lab5/adult.csv')

In [ ]:
print(data.head())

   39          State-gov   77516   Bachelors   13        Never-married  \
0  50   Self-emp-not-inc   83311   Bachelors   13   Married-civ-spouse
1  38            Private  215646     HS-grad    9             Divorced
2  53            Private  234721        11th    7   Married-civ-spouse
3  28            Private  338409   Bachelors   13   Married-civ-spouse
4  37            Private  284582     Masters   14   Married-civ-spouse

         Adm-clerical   Not-in-family   White     Male   2174   0   40  \
0     Exec-managerial         Husband   White     Male      0   0   13
1   Handlers-cleaners   Not-in-family   White     Male      0   0   40
2   Handlers-cleaners         Husband   Black     Male      0   0   40
3      Prof-specialty            Wife   Black   Female      0   0   40
4     Exec-managerial            Wife   White   Female      0   0   40

    United-States   <=50K
0   United-States   <=50K
1   United-States   <=50K
2   United-States   <=50K
3            Cuba   <=50K
4   United-States   <=50K

In [ ]:
data.shape

(32560, 15)

In [ ]:
data.columns = ['Age', 'Workclass', 'fnlwgt', 'Education', 'Education_num', 'Marital_status', 'Occupation', 'Relationship',
             'Race', 'Sex', 'Capital_gain', 'Capital_loss', 'Hours_per_week', 'Native_country', 'Income']

In [ ]:
data=data.drop(columns=["Marital_status"])

In [ ]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder #encode categorical variables
from sklearn.model_selection import train_test_split #split datset

le =preprocessing.LabelEncoder()

In [ ]:
data = data.apply(le.fit_transform)

In [ ]:
data

,Age,Workclass,fnlwgt,Education,Education_num,Occupation,Relationship,Race,Sex,Capital_gain,Capital_loss,Hours_per_week,Native_country,Income
0,33,6,2925,9,12,4,0,4,1,0,0,12,39,0
1,21,4,14085,11,8,6,1,4,1,0,0,39,39,0
2,36,4,15335,1,6,6,0,2,1,0,0,39,39,0
3,11,4,19354,9,12,10,5,2,0,0,0,39,5,0
4,20,4,17699,12,13,4,5,4,0,0,0,39,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,10,4,16527,7,11,13,5,4,0,0,0,37,39,0
32556,23,4,8079,11,8,7,0,4,1,0,0,39,39,1
32557,41,4,7882,11,8,1,4,4,0,0,0,39,39,0
32558,5,4,12880,11,8,1,3,4,1,0,0,19,39,0
32559,35,5,17824,11,8,4,5,4,0,108,0,39,39,1

In [ ]:
df = data.values

In [ ]:
data.isnull().sum()

Age               0
Workclass         0
fnlwgt            0
Education         0
Education_num     0
Occupation        0
Relationship      0
Race              0
Sex               0
Capital_gain      0
Capital_loss      0
Hours_per_week    0
Native_country    0
Income            0
dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             32560 non-null  int64
 1   Workclass       32560 non-null  int64
 2   fnlwgt          32560 non-null  int64
 3   Education       32560 non-null  int64
 4   Education_num   32560 non-null  int64
 5   Occupation      32560 non-null  int64
 6   Relationship    32560 non-null  int64
 7   Race            32560 non-null  int64
 8   Sex             32560 non-null  int64
 9   Capital_gain    32560 non-null  int64
 10  Capital_loss    32560 non-null  int64
 11  Hours_per_week  32560 non-null  int64
 12  Native_country  32560 non-null  int64
 13  Income          32560 non-null  int64
dtypes: int64(14)
memory usage: 3.5 MB

In [ ]:
X = df[: ,:13]
y = df[:, -1]

In [ ]:
X.shape, y.shape

((32560, 13), (32560,))

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=24)

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((26048, 13), (6512, 13), (26048,), (6512,))

In [ ]:
from sklearn.naive_bayes import GaussianNB

nb_classifier = GaussianNB()

nb_classifier.fit(X_train, y_train)

GaussianNB()

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix

y_pred = nb_classifier.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)

conf_matrix = confusion_matrix(y_test, y_pred)

print(f'Accuracy: {accuracy}')
print('Confusion Matrix:')
print(conf_matrix)

Accuracy: 0.8003685503685504
Confusion Matrix:
[[4629  306]
 [ 994  583]]

In [ ]:
from sklearn.metrics import classification_report

classification_rep = classification_report(y_test, y_pred)
print('Classification Report:')
print(classification_rep)

Classification Report:
              precision    recall  f1-score   support

           0       0.82      0.94      0.88      4935
           1       0.66      0.37      0.47      1577

    accuracy                           0.80      6512
   macro avg       0.74      0.65      0.67      6512
weighted avg       0.78      0.80      0.78      6512